<nav class="navbar navbar-default navbar-no-margin-bottom">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a routerLink="/">{{title}}</a>
        </li>
        <li>
          <a routerLink="/book">读书</a>
        </li>
        <li>
          <a routerLink="/movie">电影</a>
        </li>
        <li>
          <a routerLink="/music">音乐</a>
        </li>
        <li>
          <a routerLink="/group">小组</a>
        </li>
        <li>
          <a routerLink="/city">同城</a>
        </li>
        <li>
          <a routerLink="/fm">FM</a>
        </li>
        <li>
          <a routerLink="/time">时间</a>
        </li>
        <li>
          <a routerLink="/production">豆品</a>
        </li>
        <!-- todo 更多需要下拉菜单-->
        <li>
          <a routerLink="/more">更多</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/download">下载豆瓣客户端</a>
        </li>
        <li>
          <a routerLink="/login">登陆</a>
        </li>
        <li>
          <a routerLink="/register">注册</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
