<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularTour</title>
  <base href="/src/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="views/runtime.js"></script><script type="text/javascript" src="views/polyfills.js"></script><script type="text/javascript" src="views/styles.js"></script><script type="text/javascript" src="views/vendor.js"></script><script type="text/javascript" src="views/main.js"></script></body>
</html>
