<div
     class="d3">
  <h1>D3</h1>
  <a href="javascript:void(0)"
     (click)="print()">print</a>
  <a href="javascript:void(0)"
     (click)="paint()">paint</a>
  <a href="javascript:void(0)"
     (click)="paintExampleChart()">paintExampleChart</a>
  <a href="javascript:void(0)"
     (click)="paintColumnChart()">paintColumnChart</a>

  <div id="div3">
    <p>Apple</p>
    <p id="pear">Pear</p>
    <p>Banana</p>
  </div>

  <div id="canvas"
       class="axis">

  </div>

  <div id="column-chart">

  </div>

  <div>
    <svg width="960"
         height="500"></svg>
  </div>
</div>
