/* d3 */
:host ::ng-deep .d3 {
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }


  /* 坐标轴样式 */
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-family: sans-serif;
    font-size: 11px;
  }

  .selected {
    fill: red;
    stroke: brown;
  }

  .MyRect {
    fill: steelblue;
  }

  .MyText {
    fill: white;
    text-anchor: middle;
  }
}
