<app-sizer [(size)]="fontSizePx"></app-sizer>
<div [style.font-size.px]="fontSizePx"
     [ngClass]="currentClass"
     [ngStyle]="currentStyles">Resizable Text</div>
<h2>{{title}}</h2>
<div style="width: 50%">
  <span>新书速递:</span>
  <div style="display: inline-block;float: right;">
    <button [disabled]="pagination.lastBtnDisabled"
            [attr.aria-label]="actionName"
            (click)="last()">&lt;</button>
    <button (click)="next()">&gt;</button>
    <span>{{pagination.currentPage}}</span>
  </div>
</div>
<ul>
  <li *ngFor="let book of currentBooks; let i = index;"
      [class.selected]="book.id == selectedBookId"
      [routerLink]="'/book/' + book.id">
    {{book.id + '-' + book.name + '-' + book.author + '-' + book.publishTime}}
    <!-- <p>
      <app-book-detail *ngIf="book.isNew"
                       (deleteRequest)="deleteHero($event)"></app-book-detail>
    </p> -->
  </li>
</ul>
<!-- <table border=1>
  <tr>
    <td [attr.colspan]="1 + 1">One-Two</td>
  </tr>
  <tr>
    <td colspan="{{1 + 1}}"></td>
  </tr>
  <tr>
    <td>Five</td><td>Six</td>
  </tr>
</table> -->

<!-- standard class attribute setting  -->
<!-- <div class="bad curly special"
     [class]="badCurly">Bad curly special</div> -->

<!-- toggle the "special" class on/off with a property -->
<!-- <div [class.special]="isSpecial">The class binding is special</div> -->

<!-- binding to `class.special` trumps the class attribute -->
<!-- <div class="special"
     [class.special]="!isSpecial">This one is not so special</div> -->

<!-- <button [style.font-size.em]="isSpecial ? 1: 3">Red</button>
<button [style.font-size.%]="isSpecial ? 150: 50">Save</button> -->

<input [ngModel]="keyword"
       (ngModelChange)="search($event)">
without NgModel
