.bad {
  color: red;
}

.curly {
  font-size: 1.8rem;
}

.special {
  font-style: italic;
}

.selected {
  font-style: italic;
  color: red;
}

li.selected {
  background-color: #CFD8DC;
  color: white;
}

li.selected:hover {
  background-color: #BBD8DC;
}
