.navbar-no-margin-bottom {
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
  cursor: pointer;
}

.login-form {
  position: relative;
  margin-bottom: 25px;
  background-image: url(/assets/images/home/doubanapp5_bg.png);
  background-size: contain;
  background-position: -webkit-calc(50% - 305px) top;
  background-position: calc(50% - 305px) top;
  background-repeat: no-repeat;
  background-color: #edf4ed;
}

.phone-image {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background: no-repeat url(/assets/images/home/doubanapp5.png) 0 -150px;
}

.app {
  margin-left: 700px;
  height: 150px;
  width: 150px;
}

.app-title {
  margin: 20px 0;
  font-size: 25px;
  color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.app-link {
  margin-left: 10px;
}

.scan-image {
  position: absolute;
  zoom: 1;
  border: 1px solid #337ab7;
  border-radius: 2px;
  margin-left: 5px;
}

.scan-image-big {
  position: absolute;
  zoom: 1;
  z-index: 1000;
  padding: 20px 20px 20px 20px;
  background-color: white;
  border-radius: 3px;
  margin-left: 5px;
}

.right-form {
  margin-left: 600px;
  width: 270px;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

.nav-menu a {
  color: transparent;
}
 
ul {
  display: inline;
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  padding: 0 1em;
}

.row {
  display: block;
  clear: both;
}

.no-outline {
  outline: none;
}

.header>div {
  display: inline-block;
}

.header {
  text-align: center;
  margin: 1em 1em;
}

.link-active {
  text-decoration: line-through;
  color: black;
}