<h1>列表</h1>
<ul>
  <li *ngFor="let hero of heroes">
    {{hero | json}}
  </li>
</ul>


<p>
  exercise works! <span class="highlight">这是文本。</span> 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。
  这是文本。 这是文本。 这是文本。
  这是文本。 这是文本。 这是文本。 <span class="highlight">这是文本。</span>
</p>
<div id="exercise">
  <h1>练习css</h1>
  <h1>This is a <em>important</em> heading</h1>
  <p>这时 This is a <em>important</em> paragraph.</p>

  <h1>This is <strong>very</strong> <strong> very</strong> important.</h1>
  <h1>This is <em>really <strong>very</strong></em> important.</h1>
  <div id="sidebar">
    <p>aaaaaa</p>
  </div>
  <h3>多重样式表</h3>
  <span class="highlight">这是文本。</span> 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。 这是文本。
  这是文本。 这是文本。 这是文本。 <span class="highlight">这是文本。</span>
</div>

<div style="white-space: pre">
  This paragraph has
  many
  spaces in it.</div>

<a href="/index.html"
   target="_self">下载豆瓣 App</a>
<b>注释：</b>为了使定义生效，a:hover 必须位于 a:link 和 a:visited 之后！
<p><b>注释：</b>为了使定义生效，a:active 必须位于 a:hover 之后!</p>
