<nav class="navbar navbar-no-margin-bottom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <div class="input-group">
            <input type="text" #searchStr class="form-control" role="search" placeholder="书籍、电影、音乐、小组、小站、成员">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="search(searchStr.value)">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/book">读书</a>
        </li>
        <li>
          <a routerLink="/movie">电影</a>
        </li>
        <li>
          <a routerLink="/music">音乐</a>
        </li>
        <li>
          <a routerLink="/group">小组</a>
        </li>
        <li>
          <a routerLink="/city">同城</a>
        </li>
        <li>
          <a routerLink="/fm">FM</a>
        </li>
        <li>
          <a routerLink="/time">时间</a>
        </li>
        <li>
          <a routerLink="/production">豆品</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>

<div class="container-fluid">
  <div class="row login-form">
    <div class="col-md-3 col-md-offset-2 phone-image">
    </div>
    <div class="col-md-3">
      <div class="row app">
        <div class="row app-title">
          <div class="col-md-12">
            豆瓣 5.0
          </div>
        </div>
        <div class="row app-link">
          <a class="btn btn-primary btn-sm" href="#" role="button">下载豆瓣 App</a>
          <div (mouseleave)="disappearDownScan()" (mouseenter)="showDownScan()" style="display: inline-block;position: absolute;">
            <div *ngIf="!showScan">
              <img [src]="downLinkImg" width="29.6" height="29.6" class="scan-image">
            </div>
            <div *ngIf="showScan">
              <img [src]="downScanImg" width="240" height="240" class="scan-image-big">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <!-- 登陆表单 -->
      <form class="right-form">
        <div class="form-group">
          <input type="email" #username class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" #password class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="row">
          <div class="col-md-6">
            <button (click)="login(username.value, password.value)" class="btn btn-info btn-sm btn-block">登陆豆瓣</button>
          </div>
          <div class="col-md-6">
            <a class="btn btn-default btn-sm btn-block" routerLink="/register" role="button">注册账号</a>
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> 记住我
          </label>
        </div>
      </form>
    </div>
  </div>
</div>
