<nav class="navbar">
  <a [routerLinkActive]="'active-link'"
     [routerLinkActiveOptions]="{exact:true}"
     [routerLinkActiveOptions]="{exact:true}"
     routerLink="/">{{title}}</a>
  <a [routerLinkActive]="'active-link'"
     routerLink="/book">读书</a>
  <a [routerLinkActive]="'active-link'"
     [routerLinkActiveOptions]="{exact:true}"
     routerLink="/movie">电影</a>
  <a [routerLinkActive]="'active-link'"
     [routerLinkActiveOptions]="{exact:true}"
     routerLink="/music">音乐</a>
  <a [routerLinkActive]="'active-link'"
     [routerLinkActiveOptions]="{exact:true}"
     routerLink="/group">小组</a>
  <a [routerLinkActive]="'active-link'"
     [routerLinkActiveOptions]="{exact:true}"
     routerLink="/city">同城</a>
  <a [routerLinkActive]="'active-link'"
     [routerLinkActiveOptions]="{exact:true}"
     routerLink="/fm">FM</a>
  <a [routerLinkActive]="'active-link'"
     [routerLinkActiveOptions]="{exact:true}"
     routerLink="/time">时间</a>
  <a [routerLinkActive]="'active-link'"
     [routerLinkActiveOptions]="{exact:true}"
     routerLink="/production">豆品</a>
  <a [routerLinkActive]="'active-link'"
     [routerLinkActiveOptions]="{exact:true}"
     routerLink="/more">更多</a>
  <a class="nav-menu-right download"
     [routerLinkActive]="'active-link'"
     [routerLinkActiveOptions]="{exact:true}"
     routerLink="/download">下载豆瓣客户端</a>
  <a class="nav-menu-right"
     [routerLinkActive]="'active-link'"
     [routerLinkActiveOptions]="{exact:true}"
     routerLink="/login">登陆/注册</a>
</nav>
